# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
server/.env
.env.*

# Debugging & Scratch
scratch/
ZATKSA/
prisma/seed_mock_data.ts
*.xml
*.pem
server/zatca-sdk/audit_evidence/
server/zatca-sdk/Configuration/config.json
server/zatca-sdk/*.xml
server/zatca-sdk/test_in.xml
